.logo{
    height: 60%;
    display: block;
    margin: auto;
}
.sliding{
    background-color: #cc0000;
}
.cupon{
    height: 50%;
    margin: 0px 10px 0px 0px
}
.menu{
    color: white;
}
.foto img{
    width: 100%;
}
.titulo-dos {
    text-align: left;
    color: #fc0;
    margin: 0px 350px 0px 10px
}

.lista-inicio a{
    color: white;
    background-color: #cc0000;
    height: 75px;
    margin: 0px 0px 1px 0px;
    display: flex;
}
.lista-inicio img{
    height: 60%;
    margin: 0px 20px
}
.pagina-dos .sliding{
    background-color: white;
}
.pagina-dos i{
    color: #ffcc00;
}
.pagina-dos h6{
    color: black;
    margin: 0px 30%
}
.titulo{
    text-align: center
}
.ciudad{
    border-bottom: 1px solid #d6d6d6;
    width: 60%;
    margin: auto;
    list-style: none
}
.domicilio {
    display: block;
    margin: 10px ;
}
.domicilio img{
    width: 15%;
    color: orange
}
.swiper-wrapper img{
    margin: 0px 10px 35px;
    height: 190px;
    justify-content: space-around
}
.sub-titulo{
    padding: 30px 0px 10px 10px;
    background-color: transparent
}
